body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 54%, 90%);
  width: 1440px;
  font-family: "Young Serif", "Outfit";
}

.recipe-container {
  width: 730px;
  border: none;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}

.recipe-photo {
  width: 665px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 15px;
}

.recipe-main-title {
  color: hsl(24, 5%, 18%);
  font-size: 35px;
  margin-left: 35px;
}

.recipe-section {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin-bottom: 25px;
}

.recipe-description {
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  font-family: "Outfit";
  margin-left: 35px;
  margin-bottom: 25px;
  width: 665px;
}

.recipe-preparation {
  width: 665px;
  height: 160px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
  margin: 0 auto;
  padding: 0;
}

.recipe-preparation-title {
  padding-top: 20px;
  padding-left: 20px;
  color: hsl(332, 51%, 32%);
  margin: 0;
}

.recipe-info {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
  list-style: none;
  padding: 0;
  padding-left: 30px;
}

.recipe-info li {
  position: relative;
  padding: 0;
  padding-left: 27px;
  padding-bottom: 7px;
}

.recipe-info-detail {
  position: relative;
  font-family: "Outfit";
  font-weight: 700;
  font-size: 14px;
}

.recipe-info li::before {
  content: "■";
  position: absolute;
  top: 6px;
  left: 0;
  font-size: 7px;
  color: hsl(332, 51%, 32%);
}

.recipe-second-title {
  color: hsl(14, 45%, 36%);
  margin-left: 35px;
}

.recipe-making {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
  margin-left: 15px;
  width: 590px;
  padding: 0;
  padding-left: 40px;
}

.recipe-making li {
  padding-left: 15px;
  padding-bottom: 10px;
}

.recipe-making li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  font-size: 14px;
}

.recipe-making-details {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 14px;
}

.recipe-ingredients {
  padding: 0;
  padding-left: 40px;
}

.recipe-ingredients li {
  position: relative;
  font-family: "Outfit";
  list-style: none;
  padding-left: 25px;
  padding-bottom: 10px;
}

.recipe-ingredients li::before {
  content: "■";
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 7px;
  color: hsl(14, 45%, 36%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.recipe-table-desc {
  font-family: "Outfit";
  color: hsl(30, 10%, 34%);
  margin-left: 35px;
}

table {
  margin: 0 auto;
  width: 650px;
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  text-align: left;
}

td:nth-child(2) {
  text-align: center;
}

table tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

table tr:last-child {
  border-bottom: none;
}
